<%- include ('architecture/header') %>

<body class="pushable">
    <div class="ui inverted menu  ">
        <div class=" item"> <a href="/">Home</a></div>
        <div class=" right item"> <a href="/about">About</a> </div>
        <div class=" item"> <a href="/login">Login</a></div>
        <div class=" item"> <a href="/signIn">SignIn</a> </div>
    </div>
    <div class="ui labeled icon inverted menu  ">
        <div class=" item"> <i class="users icon"></i>users</div>
        <div class=" item"> <i class="wheelchair icon"></i>users</div>
    </div>
    <div class="ui middle aligned center aligned grid"> 
         <div class="ui vertical stripe segment" >
            <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui container">
                    <div class="column">
                        <h2 class="ui inverted header"><div class="content">Log-in to your account</div></h2>
                        <form action="" class="ui large form">
                            <div class="ui stacked segment">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="email address" placeholder="email address" >
                                    </div>
                                </div>
                                <div class="field">
                                        <div class="ui left icon input">
                                            <i class="lock icon"></i>
                                            <input type="text" name="password" placeholder="password" >
                                        </div>
                                </div>
                                <div class="ui fluid large inverted submit button">Login
                                      
                                </div>
                            </div>
                        </form>
                        <div class="ui message">New ? come 
                            <a href="/signIn">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
  




</body>