<%- include ('architecture/header') %>

<body class="pushable">
    <div class="ui inverted menu  ">
        <div class=" item"> <a href="/">Home</a></div>
        <div class=" right item"> <a href="/about">About</a> </div>
        <div class=" item"> <a href="/login">Login</a></div>
        <div class=" item"> <a href="/signUp">SignUp</a> </div>
    </div>
    <div class="ui labeled icon inverted menu  ">
        <div class=" item"> <i class="users icon"></i>users</div>
        <div class=" item"> <i class="wheelchair icon"></i>users</div>
    </div>
    <div class="ui middle aligned center aligned grid"> 
            <div class="ui vertical stripe segment" >
               <div class="ui inverted vertical  masthead center aligned segment">
                   <div class="ui  container">
                       <div class=" column">
                           <h2 class="ui inverted header">
                               <div class="content">Sign Up to our project !</div>
                            </h2>
                           <form class="ui form">
                               <div class="ui stacked segment">
                                    <div class="field">
                                            <div >
                                                 <label for="first_name" ></label>
                                                <input type="text" name="first_name" placeholder="first_name" >
                                            </div>
                                    </div>
                                   <div class=" field">
                                       <div >
                                            <label for="last_name" ></label>
                                           <input type="text" name="last_name" placeholder="last_name" >
                                       </div>
                                   </div>
                                   <div class="field">
                                           <div >
                                                <label for="email" ></label>
                                               <input type="text" name="email" placeholder="email" >
                                           </div>
                                   </div>
                                   <div class="field">
                                        <div >
                                             <label for="password" ></label>
                                            <input type="text" name="password" placeholder="password" >
                                        </div>
                                </div>
                                <div class="field">
                                        <div >
                                             <label for="confirmation password" ></label>
                                            <input type="text" name="password" placeholder="password confirmation" >
                                        </div>
                                </div>
                                <a class="ui large secondary submit button" href="/logged">Sign In</a>
                               </div>
                           </form>
                           <div class="ui message">Sign Up !! come 
                               <a href="/logged">Enter</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        
       </div>
     
   
  




</body>